<footer>
  <div class="bottom">
      <div class="center">
<!--This is an A11y change- Added the download BUTTONS-->
          <div class='lastbtn col-lg-6'>
              <button type="button" class='btn btn-dark btn-lg fab fa-apple download'> Download</button>
              <button type="button" class='btn btn-outline-light btn-lg fab fa-google-play download'> Download</button>
            </div>
          <hr>

          All rights reserved &copy; Keerthi Reddy Kandi
      </div>
  </div>
</footer>
